@import url("https://fonts.googleapis.com/css?family=Manrope:300,700,600,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,600,400");

.loginPage {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.leftPart {
  grid-column: 1;
  grid-row: 1;
  background: url("../../assets/images/BG1.png");
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 1024px;
  width: 50%;
  position: absolute;
  .mappixLogo {
    margin-top: 25%;
    height: 12%;
    width: 45%;
  }
  .logo-text {
    margin-top: 10%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    max-width: 250px;
    color: #ffffff;
  }
  .link {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    color: #ffffff;
    margin-top: 10%;
  }
  .social-media {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    gap: 50px;
    .fb-logo,
    .linkedin-logo {
      width: 30px;
    }
  }
  .copyright {
    position: fixed;
    bottom: 10px;
    left: 20px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #ffffff;
  }
}
.rightPart {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  background-color: #fef4eb;
  height: 1024px;
  z-index: 1;
  padding : 5% 10%;
  .welcome-title {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    margin-top: 25%;
  }
  .textbox1 {
    width: 335px;
    height: 51px;
    margin-top: 3%;
    border: 1px solid #f34970;
    border-radius: 50px;
    background-color: #fef4eb;
    color: #f34970;
    padding: 2px 25px;
  }
  .AcoountLogo {
    position: relative;
    right: 60px;
    padding-top: 3%;
  }
  .login-forgot {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .login-button {
      margin-top: 4%;
      height: 51px;
      width: 164px;
      background: #f34970;
      border-radius: 50px;
      border: 1px solid #f34970;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      font-family: "Manrope";
      font-weight: 700;
      font-size: 14px;
      color: #ffffff;
      padding: 12px 0px;
      .login-button-text {
        margin-top: 10px;
      }
    }
    .forgot-password {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 120%;
      color: #f34970;
      margin-left: 2%;
    }
  }
  .hexagon-logo {
    width: min-content;
    height: fit-content;
    margin-top: 10%;
  }
}
.logo-textbox{
  display: flex;
  flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Home-loayout {
  display: flex;
}
.reg-link {
  position: relative;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  top: 30px;
  left: 100px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #f34970;
}