.pie-pieChartss{
    display: flex;
    flex-direction: row;
}
.pie-copyrightDiv{
    width: 101px;
    height: 27px;
    /* margin-left: 31px; */
    /* margin-top: 0px;
    padding-top: 0px; */
}
.pie-copyright{
    margin-top: 8px;
    color: rgba(86, 86, 86, 0.50);
text-align: center;
font-family: 'Manrope';
font-size: 8px;
font-style: normal;
font-weight: 400;
line-height: 12px;
/* padding: 0px; */
}
.pie-markingThreadDiv{
    width: 232px;
    height: 17px;
    margin-top: 37px;
    /* margin-left: 31px; */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.pie-markingThread{
    color: #011C25;
font-family: 'Manrope';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 120%;
}
.pie-piee{
    width: 104px;
    height: 104px;
    /* margin-top: 33px; */
    /* margin-left: 31px; */
    /* margin-right: 31px; */
}
.pie-bottom{
    margin-left: 28px;
    /* width: 232px; */
    /* border: 2px solid black; */
}
.pie-bottom div{
    display: flex;
    flex-direction: row;
}
.pie-para{
    width: 140px;
    height: 17px;
    color: #011C25;
font-family: 'Manrope';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 120%;
}
.pie-bottom div{
    margin-top: 18px;
}
.pie-bottom div button{
    width: 70px;
    height: 24px;
    margin-left: 22px;
    border-radius: 50px;
background: #AABB5D;
}
.pie-bottom div button p{
    color: #FFF;
font-family: 'Manrope';
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 120%;
padding: 6px 24px 6px 12px;
}