@import url("https://fonts.googleapis.com/css?family=Manrope:300,700,600,400");

.main-root{
  display: flex;
  flex-direction: column;
  
}

:root {
  --absent-colour: rgba(0, 0, 0, 0.12);
  --below-colour: #f34970;
  --emerging-colour: #f4c900;
  --expected-colour: #aabb5d;
  --greater-colour: #26c8b9;
  --nav-bar-colour: #fef4eb;
  --white-color : #FFFFFF;
}
a {
  text-decoration: none !important;
}
.Page-layout {
  display: flex;
  overflow-x: hidden;
  overflow-y: clip;
}

.Page-header {
  display: flex;
  width: 1000px;
  flex-direction: column;
  position: relative;
  left: 249px;
}

.page-body {
  position: relative;
  top: 70px;
  overflow-y: auto;
}

.rs-sidenav,
.rs-sidenav-default  {
  background-color: var(--nav-bar-colour) !important;
  .rs-sidenav-body,rs-dropdown-item-submenu, rs-dropdown-item-pull-right, rs-dropdown-item-expand, rs-dropdown-item, rs-dropdown-item-toggle{
    font-family: 'Manrope' !important;
    font-size: 14px ;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left !important;
    color: #011c25 !important;
    .rs-sidenav-item {
      background-color: var(--nav-bar-colour);
      height: 50px;
      margin-left: 21px !important;
      padding-left: 0px !important;
      padding-right: 10px;
    }
    .rs-dropdown-toggle-caret {
      right: 60px !important;
    }
  }
}
.rs-sidenav,
.rs-sidenav-default ::selection {
  color: #F34970;
}
.rs-sidenav-default.rs-sidenav-collapse-in .rs-sidenav-item.rs-sidenav-item-active{
  color: #F34970 !important;
}

.custom-nav-item {
  color: blue; /* Default text color */
}

.custom-nav-item.active {
  color: red; /* Change text color for active menu item */
}

.custom-nav-item .rs-icon {
  color: green; /* Default icon color */
}

.custom-nav-item.active .rs-icon {
  color: orange; /* Change icon color for active menu item */
}


.nav-bar {
  background-color: var(--nav-bar-colour);
  height: 100vh;
  border-right: 1px solid #ffffff;
  width: 250px;
  overflow: scroll;
  position: fixed;
  /* top: 70px; */
  .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.nav-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nav-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.nav-logo{
  cursor: pointer;
}
.nav-logo-style{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 14px;
  padding-left: 23px;
}
/* } */

.header-bar {
  background: #fef4eb;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0px;

  .app-bar-logo {
    margin: auto 21px;
  }
}

.header-nav-icons{
  padding: 12px 10px;
  .nav{
    display: flex;
    gap: 10%;
  }
}
.active{
  background-color: transparent !important;
}
