.modals-main {
    position: "absolute";
    top: auto;
    left: "50%";
    transform: "translate(-50%, -50%)";
    width: 600;
    background-color: "background.paper";
    border: "1px solid #000";
    border-radius: "10px";
    box-shadow: "1px 2px 9px black";
    /* p: 4; */
}
