@import url("https://fonts.googleapis.com/css?family=Manrope:300,700,600,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,700,600,400");

.overview-page {
  position: fixed;
  left: 250px;
}

.overview-header {
  display: flex;
  padding: 40px 24px;
  margin-top: 70px;
  flex: 1;
  width: 80vw;

  .overview-title {
    flex: 0.5;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #011c25;
    display: flex;
    flex-direction: row;
  }

  .right-column {
    flex: 0.5;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.overview-table-overall-headers {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  .main-heading,
  .sub-heading {
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.17px;
    color: #011c25;
    border: solid rgba(0, 0, 0, 0.12);
    border-width: 1px 0px 0px 1px;

    .sub-heading-column {
      color: #000000;
    }
  }

  .sub-heading-column {
    width: 130px;
    height: 58px;
    color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.overview-table-overall-data {
  display: flex;
  flex-direction: column;

  .overall-data {
    display: flex;
    flex-direction: row;

    .sub-heading-column {
      height: 49px;
    }

    .overall-data-actual,
    .overall-data-predicted {
      border-radius: 50px;
      width: 83.25px;
      height: 29px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.overview-content {
  .select-obj-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 100px;
    width: 220px;
    height: 40px;
    margin-left: 24px;

    .css-13cymwt-control {
      border-radius: 100px;
      border: 1px solid rgba(0, 0, 0, 0.23);
    }

    .css-1u9des2-indicatorSeparator {
      display: none;
    }
  }
}

.overview-table {
  margin: 24px 15px 0px 15px;
  display: flex;
  flex-direction: column;
}
  
/* NEW */
.table-header {
  padding: 0px;
  min-width: 1000px;
  width: -webkit-fill-available;
}

.top-row {
  .top-row-text {
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #011C25;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
  }
}

.bottom-row {
  max-height: 60px;

  .bottom-row-text {
    max-height: 58px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #011C25;
    text-align: center;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.17px;
  }
}

.pupil {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  margin: 0px !important;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.speaker-icon {
  background-color: '#E0E0E0';
  width: 18px;
  height: 18px;
}

.row-overall,
.row-kpi,
.row-ks1,
.row-place-value {
  height: 60px;
}

.row-overall-actual,
.row-overall-predicted,
.row-overall-trend,
.kpi-actual,
.kpi-predicted,
.ks1-actual,
.ks1-progress,
.place-value {
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actual-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 50px;
  width: 90px;
  height: 30px;
  padding: 0px 24px;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.17px;
}